body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #E9EFF3;

}

a {
    text-decoration: none;
}


 /* Designing Main Custom Container */
 .main__contaienr {
     width: 100%;
     min-height: 700px;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
 }

 .display-4 {
     font-weight: normal;
     font-size: 35px;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px 0;
 }

 .lead {
     font-size: 20px;
     padding: 10px 0;
 }


 .blue {
     background-color: #1D4ED8 ;
     margin:30px 0;
 }

 /* Designing Weather Stats Box */
 .box {
     width: 300px;
     min-height: 200px;
     display: flex;
     padding: 20px 0;
     align-items: center;
     justify-content: center;
     background-color: #1D4ED8;
     color: white;
     margin:  20px 10px;
     flex-direction: column;
     justify-content: center;
 }

 input:focus {
     background-color: white;
     border: none;
     outline: none;
 }

 input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    box-shadow:0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
  }


  .country {
color: black;
padding: 5px;
  }